
{% extends "mind/base.html"%}
{% block body%}
    
    </section>
    <section class="main container">
      <div class="form__map_container">
          <div class="contact__form">
          <p class="cont__title">Leave us a message</p>
        <form action="" method="POST">
            <div class="email__name__container label__form">
              <div class="name__cont label__form">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" required>
              </div>

              <div class="email__cont label__form"> 
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
              </div>
            </div>             

            <div class="phone__cont label__form">
              <label for="phone">Phone</label>
              <input type="tel" name="phone" id="phone" placeholder="+251 9XX XXX XXX" required>
            </div>
            
            <div class="message__cont label__form">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="5" required></textarea>
            </div>
            
            <input type="submit" class="btn submit__form" value="Submit Message">
          </form>
      </div>

      <div class="office__location google__map">
          <p class="cont__title">Visist Our office</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3955.1891744162162!2d37.85478550876211!3d7.554340892427945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17b2362e11000001%3A0x9f22892e654a7103!2sHadiya%20Zone%20Rural%20Development%20Office!5e0!3m2!1sen!2set!4v1769805952897!5m2!1sen!2set" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

{% endblock body %}