{% extends "mind/base.html" %}

{% block body%}
    </section>

         <div id="news" class="news__card__container">
            <div class="news__card">
                <div class="news__top_title" ><p lang="am">ዜና</p></div>
                <img src="{% static 'mind/img/landmanagment.jpg' %}">
                <div class="news__desc">
                    <p class="news__title">Sustainable Land Management Program (SLMP)</p>
                    <p>Teams build terraces and plant conservation grasses to prevent soil erosion and restore degraded highland environments.</p>
                    <a>Learn more</a>
                </div>
              </div>
            <div class="news__card">
                <div class="news__top_title" ><p lang="am">News Title</p></div>
                <img src="{% static 'mind/img/landmanagment.jpg' %}">
                <div class="news__desc">
                    <p class="news__title">Sustainable Land Management Program (SLMP)</p>
                    <p>Teams build terraces and plant conservation grasses to prevent soil erosion and restore degraded highland environments.</p>
                    <a>Learn more</a>
                </div>
            </div>
        </div>

{% endblock body %}