{% extends "mind/base.html" %}

{% block body%}

    
 
<section class="container leaders">
  <P class="officials__title">Head of HZAB</P>
    <div class="official__card main__leader">
        <div class="official__image "><img src="/public/main__leader.jpg"></div>
        <div class="official__desc">
            <p class="official__position">Finance</p>
            <p class="official__name">Ato Kebede Menchore</p>
            <p class="official__sector">Livestock and polutary sector adminstrator</p>
        </div>
         </div>
    <P class="officials__title">SubHeads of HZAB</P>

    <div class="sub__leaders">
          <div class="official__card main__leader hide" >
          <div class="official__image"><img src="/public/main__leader.jpg"></div>
          <div class="official__desc">
              <p class="official__position">Finance</p>
              <p class="official__name">Ato Kebede Menchore</p>
              <p class="official__sector">Livestock and polutary sector adminstrator</p>
          </div>
         </div>
      <div class="official__card main__leader hide" >
          <div class="official__image"><img src="/public/main__leader.jpg"></div>
          <div class="official__desc">
              <p class="official__position">Finance</p>
              <p class="official__name">Ato Kebede Menchore</p>
              <p class="official__sector">Livestock and polutary sector adminstrator</p>
          </div>
          </div>
    <div class="official__card main__leader  hide" >
        <div class="official__image"><img src="/public/main__leader.jpg"></div>
        <div class="official__desc">
            <p class="official__position">Finance</p>
            <p class="official__name">Ato Kebede Menchore</p>
            <p class="official__sector">Livestock and polutary sector adminstrator</p>
        </div>
         </div>

</section>


    </div>

  {% endblock body%}