
{% extends "mind/base.html" %}
{% load static %}
{% block body %}
    <section class="container region__container">
      <div class="region__img ce__img collect">
        <img src="{% static 'mind/img/ze.svg'%}" width="352px" height="auto">
        <div class="ce__img_desc">
          <p>The Hadiya Zone is located in the Central Ethiopia Regional State, approximately 230 kilometers southwest of Addis Ababa. Geographically situated in the western Ethiopian highlands, it serves as a vital agricultural hub. Its administrative center, Hosanna, sits at a high elevation, enjoying a temperate climate ideal for diverse crop production.</p>
        </div>
      </div>
    </section>

    
    {% endblock body %}
