{% extends "mind/base.html" %}

{% block body%}
    <div id="img" class="res__img_container container">
        <img width="320px" hieght="320px" src="public/banana.jpg">
        <img width="320px" hieght="320px" src="public/holding_tomato.jpg">
        <img width="320px" hieght="320px" src="public/clear_mango.jpg">
        <img width="320px" hieght="320px" src="public/observing.jpg">
        <img width="320px" hieght="320px" src="public/baner.jpg">
        <img width="320px" hieght="320px" src="public/safetynet.jpg">
        <img width="320px" hieght="320px" src="public/livestock.jpg">
        <img width="320px" hieght="320px" src="public/onion.jpg">
    </div>
   <div id="doc" class="res__pdf container">
    <div class="pdf-grid">
        <div class="pdf-card">
            <h3>Farmer Adaptation Guide</h3>
            <p>detail study</p>
            <a href="public/pdf/hza.pdf" download="farmer__adaptaion" class="download-btn">Download PDF</a>
        </div>

        <div class="pdf-card">
            <h3>Farmer Adaptation Guide</h3>
            <p>detail study</p>
            <a href="public/pdf/hza.pdf" download="farmer__adaptation" class="download-btn">Download PDF</a>
        </div>

        <div class="pdf-card">
            <h3>Farmer Adaptation Guide</h3>
            <p>detail study</p>
            <a href="public/pdf/hza.pdf" download="farmer__adaptation" class="download-btn">Download PDF</a>
        </div>
    </div>
   </div>

{% endblock body%}