{% extends "mind/base.html" %}

{% block body%}
    <section class="container jobs">
    <div class="vacancy__card">
        <p class="Vacany__card_position">Position: <span>Agronomist</span></p>
        <div class="vacancy__card_req">
        <P>Pay: <span>12,000 before tax</span> </P>
        <p>Sex: <span>Female</span></p>
        <p>Qualification: <span>diploma in Agriculture</span> </p>
        </div>
    </div>
        <div class="vacancy__card">
        <p class="Vacany__card_position">Position: <span>Accountant</span></p>
        <div class="vacancy__card_req">
        <P>Pay: <span>9,000 before tax</span> </P>
        <p>Sex: <span>Male</span></p>
        <p>Qualification: <span>bachelores in Accounting and related fields.</span> </p>
        </div>
    </div>
        <div class="vacancy__card">
        <p class="Vacany__card_position">Position: <span>Sales Women</span></p>
        <div class="vacancy__card_req">
        <P>Pay: <span>12,000 before tax</span> </P>
        <p>Sex: <span>Male</span></p>
        <p>Qualification: <span>bachelores in Marketing</span> </p>
        </div>
    </div>
    </section>
    
    
    
        </section>

    {% endblock body%}
