
#contact{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:baseline;
    background-color: brown;
    color:white;
    
}
.ttl{
 font-size:var(--size-base);
 font-weight:bold;


}
.quick__links ul{
    
    list-style: none;
    padding-left:0;

}
.contact__form{


    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email__name__container{


    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}
.contact__form{

    background-color: azure;
    width:22rem;
    height: auto;
}

input{

    width:17rem;
    height:2rem;
    margin:0.5rem;
    border-radius:5px;
    border:1px solid grey;
}

textarea{
    margin:0.5rem;
    width:17rem;
}

.label__form{

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:start;
    padding:0.25rem;
}

.message__cont{
    margin-bottom: 1rem;
}
.form__map_container{

display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-bottom: 4rem;


}
.submit__form{
    background-color: brown;
    color:white;
    margin-bottom:2rem;
}
.google__map,.contact__form{

    margin-top:4rem;

}

.google__map,.contact__form{
box-shadow:0px 15px 20px rgb(0,0,0,0.25);

}





.other__qiuck{

    display:grid;
    grid-template-columns:repeat(1,1fr);
}
.hrs__element{

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin:1rem;
}
.hrs__icon{
    margin:1rem;
    align-self: baseline;
    padding:6px;
}

.cont__title{
    font-size: var(--size-2xl);
    font-weight:bold;
    text-align: center;
    color:brown;
}

/* 
.open__hours{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;



}

.hrs_desc{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
}

/* .clock{
 margin:-6px;
} */



.social__container{

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left:3rem;
    justify-content: baseline;

}
.social__icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social__icons svg{

    margin:0.5rem;
} 


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    #contact {
    display:flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: space-around;
    }


.other__qiuck{

    display:grid;
    grid-template-columns: repeat(2,1fr);
}
}


/* lg */
@media (min-width: 1024px) {  
 .form__map_container{

display:flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;


}}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */