



.news__card__container{


    display:grid;
    grid-template-columns: repeat(1,1fr);

    
}


.news__card{
    width:20rem;
    justify-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid brown; */
    margin: 2rem;
    border-radius:1rem;
    flex-wrap: wrap;
    
}



.news__card img{
    /* width:20rem; */
    height:17rem;
    margin-top:0;
    /* margin-bottom:2rem; */
    align-self: stretch;

} 



.news__card .news__desc{

    padding: 1rem;
    
    border-left:1px solid brown;
    border-bottom: 1px solid brown;
    border-right:1px solid brown; 
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;


}
.news__top_title{

   align-self:stretch;
   border: 1px  solid grey;
   height:4rem;
   border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    padding:1rem;
    font-weight:bold;
    font-size:var(--size-lg)

    
}

.program__title{

    font-size: var(--size-lg);
    color:var(--clr-lbr);
}


.news__card:hover {

    box-shadow: 0px 4px 10px var(--clr-brgrn);
}





/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    

.news__card__container{


    display:grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;

    
}

}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
    

.news__card__container{


    display:grid;
    grid-template-columns: repeat(3,1fr);

    
}

}

/* 2xl */
/* @media (min-width: 1536px) {} */

