

.official__card{

    background-color:white;
    width:18em;
    height:auto;
    box-shadow:0px 15px 20px rgb(0,0,0,0.25);
    text-align: center;
    margin:1rem;
    line-height:1rem;

}

.official__image img{
    width:18rem;
    aspect-ratio: 1/1;
}
.official__desc{
    padding:0.5rem;
}
.official__position{

    color:brown;
    font-weight: bold;
    font-size:var(--size-lg);
}
.official__name{
    font-weight:bold;
}

.main__leader{

    justify-self:center;
}

.sub__leaders{

    display:grid;
    grid-template-columns: repeat(1, 1fr); 
    margin-top: 4rem;

}
.officials__title{
    font-size: var(--size-2xl);
    font-weight: bold;
    text-align: center;
    color:brown;
    margin-top:6rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

.sub__leaders{

    display:grid;
    grid-template-columns: repeat(2, 1fr); 

  

}




}

/* lg */
@media (min-width: 1024px) {
    .sub__leaders{

    display:grid;
    grid-template-columns: repeat(3, 1fr); 
    

}
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

