



.programs__card__container{


    display:grid;
    grid-template-columns: repeat(1,1fr);

    
}


.programs__card{


    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid brown; */
    padding-bottom:1rem;
    margin: 2rem;
    overflow: hidden;

    
}



.programs__card img{
    /* width:20rem; */
    height:17rem;
    margin-top:0;
    /* margin-bottom:2rem; */
    align-self: stretch;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}
.program__card img:hover{


}


.programs__card div{

    padding: 1rem;
    
    border-left:1px solid brown;
    border-bottom: 1px solid brown;
    border-right:1px solid brown; 
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;


}

.program__title{

    font-size: var(--size-lg);
    color:var(--clr-lbr);
}


.programs__card div:hover{

    box-shadow: 0px 4px 10px var(--clr-brgrn);
}





/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    

.programs__card__container{


    display:grid;
    grid-template-columns: repeat(2,1fr);

    
}

}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
    

.programs__card__container{


    display:grid;
    grid-template-columns: repeat(3,1fr);

    
}

}

/* 2xl */
/* @media (min-width: 1536px) {} */

