.service__card{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* width:20rem; */
    border:  1px solid rgb(136, 144, 152);
    border-radius: 1rem;
    padding:1rem;
    margin: 2rem;

}

.service__card:hover{

    border: 1px solid var(--clr-lbr);
    box-shadow: 0px 4px 10px var(--clr-brgrn);
}


.service__card__container{


    display:grid;
    grid-template-columns: repeat(1,1fr);

    
}


.service__title{

    font-size: var(--size-lg);
    color:var(--clr-lbr);
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

    
.service__card__container{


    display:grid;
    grid-template-columns: repeat(2,1fr);

    
}


}

/* lg */
@media (min-width: 1024px) {

    .service__card__container{


    display:grid;
    grid-template-columns: repeat(3,1fr);

    
}
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */