@import url(modern-normalize.css);
@import url(utils.css);
@import url(style.css);
@import url(contacts.css);
@import url(header.css);
@import url(home.css);
@import url(news.css);
@import url(officials.css);
@import url(programs.css);
@import url(region.css);
@import url(resources.css);
@import url(services.css);
@import url(vacancy.css);
@import url(full_news.css);
