

.full__news_container{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding:1rem;
    
}


.full__news_title{
    color:brown;
}

.full__news_ref{
    color:rgba(106, 235, 0, 0.663);
}