html {
  scroll-padding-top: 235px; 
  scroll-behavior: smooth; 
  font-family: 'Supreme', sans-serif;
}

#header{

    width:100%;
    position:sticky;
    background-color: white;
    top:0;
    left:0;
    z-index: 1000;
}


.all__header{
    width:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid gray; */
    height:auto;
    box-shadow:2px rgb(225, 53, 53);
    background-color: brown;
    color:white;

}

.header_ul li{

    position:relative;
}

.header__logo_image{

    /* vertical-align: middle; */
    height:4rem;
    width:4rem;
    border-radius: 50%;
    margin:0.1rem;
    


}




.header__logo{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-left:1rem;
    margin-top:1rem;

}
a{
    text-decoration:none;
    color:white;
}

a:hover {

    color:yellow;
}

a:hover .resources__list {

 display:block;
 visibility: visible;
}


.header__logo_desc{

text-align:center;
font-size: var(--size-xs);
font-weight:bold;
padding-left: 0.5rem;
}

  .header_ul {

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 1rem;
    font-weight:bold;
    font-size: var(--size-xxl);
    flex-wrap: wrap;
    
}

.all__header svg{

    height:2rem;
    width:2rem;
    margin-left: 1.5rem;
}
.hidden{
    display:none;
}

.shown{
    display:block;
}

button.header__anchor{

background: none;
  border: none;
  color: white;
  font-size: inherit;
  cursor: pointer;
  padding: 15px 20px;
  font-weight:bold;
}





.sub__list{

    position:absolute;
    background-color: rgb(73, 117, 155);
    display:none;
    visibility: visible;
    top:0;
 
}
.about__us_list{

    right:6rem;
}

.resources__list{

    left:6rem;
    background-color: rgb(73, 117, 155);


}
.announcement__list{
left:8rem;
background-color: rgb(73, 117, 155);
 
}


.sub__list.shown {
    display: block !important; 
    position: relative;        
    top: 0;
    left: 0;
    width: 100%; 
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

html {
  scroll-padding-top: 93px; 
  scroll-behavior: smooth; 
}

.header__logo{
        padding-left: 1rem;

}
    
.all__header{
    width:auto;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    height:auto;


}
    
  .header_ul {

    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: auto;
    margin-right:2rem;
    padding-right:0;
    padding-left:0;
 
    
}



li{

    padding:0.5rem;
}


.all__header svg{
    display:none;
    height:2rem;
    padding-left:2rem;
}

.header__logo{
    display:flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin-left:1rem;
    margin-top:1rem;

}

.sub__list{

    position:absolute;
    background-color: rgb(73, 117, 155);
    display:none;
    visibility: block;
    top:2rem;
    right:0rem;
    z-index: 1000;


}
.sub__list.shown {
        position: absolute;    
        top: 100%;             
        left: 0;
        width: auto;
    }
              
.sub__list ul{
    padding:0;
    width:auto;
}
.resources__list{

    left:2rem;
    background-color: rgb(73, 117, 155);
    right:-3rem;
    


}
.announcement__list{
    left:1rem;
    background-color: rgb(73, 117, 155);

}





}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
