

.region__container{
    padding-top: 4rem;
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    place-content: center;

}
.ce__img{

    width:22rem;
    aspect-ratio: 1/1;
}

.collect{

    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-items: center;
}
.ce__img_desc p{
 text-align: center;
}