

.vacancy__card{
    
    width:80%;
    background-color:white;
    box-shadow:0px 15px 20px rgb(0,0,0,0.25);
    margin:1rem;

}

.Vacany__card_position{
    background-color: rgb(254, 208, 208);
    height:rem;
    padding:1rem 0.5rem 0 0.5rem ;
    font-size: var(--size-2xl);
    font-weight: bold;
    color:rgb(15, 134, 122);
    text-justify:center;
}

.vacancy__card_req{

 width:inherit;
padding:0 1rem 1rem;


}

.jobs{

    display:flex;
    flex-direction: column;
    align-items: center;


}